.carousel-inner img {
    object-fit: cover;
    height: 500px;
}

.text-carousel{
    padding: 5px;
    color: brown;
}

.image-recipe {
    margin-right: 20px;
    position: relative;
    width: 12%;
}

.box-recipe {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-recipe:hover .box-recipe {
  opacity: 0.3;
}

.image-recipe:hover .middle {
  opacity: 1;
}

.text {
  /* background-color: rgb(74, 104, 236); */
  color:white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 10px;
}

.recipe-list {
    border-radius: 15px;
    margin-top: 15px;
    padding: 15px;
}

body{ 
    padding:0;
    margin:0;
  }
  .vid-container{
    position:relative;
    height:100vh;
    overflow:hidden;
  }
  .bgvid{
    position:absolute;
    left:0;
    top:0;
    width:100vw;
  }
  .inner-container{
    width:750px;
    height:600px;
    position:absolute;
    top:calc(50vh - 200px);
    left:calc(50vw - 400px);
    overflow:hidden;
  }
  .bgvid.inner{
    top:calc(-50vh + 200px);
    left:calc(-50vw + 200px);
    filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
    -webkit-filter:blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter:blur(10px);
  }
  .box{
    position:absolute;
    height:100%;
    width:100%;
    font-family:Helvetica;
    color:#fff;
    background:rgba(0,0,0,0.13);
  }
  .box h1{
    text-align:center;
    margin:30px 0;
    font-size:30px;
  }
  .box input{
    display:block;
    width:300px;
    margin:20px auto;
    padding:15px;
    background:rgba(0,0,0,0.2);
    color:#fff;
    border:0;
  }
  .box input:focus,.box input:active,.box button:focus,.box button:active{
    outline:none;
  }
  .box button{
    background:#006CFF;
    border:0;
    color:#fff;
    padding:10px;
    font-size:20px;
    width:330px;
    margin:20px auto;
    display:block;
    cursor:pointer;
  }
  .box button:active{
    background:#27ae60;
  }
  .box p{
    font-size:14px;
    text-align:center;
  }
  .box p span{
    cursor:pointer;
    color:#666;
  }